.title {
  text-align: center;
  padding-top: 10px;
  height: 60px;
  align-content: center
}

.hidden {
  display: none;
}

main {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}